.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/1036808/pexels-photo-1036808.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}

.login-title {
  font-size: 50px;
}
.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.login-form > label {
  margin: 10px 0;
}

.login-input {
  padding: 10px;
  background-color: white;
  border: none;
}
.login-button {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.login-button:disabled {
  cursor: not-allowed;
  background-color: rgb(253, 173, 173);
}
.login-register_button {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
